#
# Redirect Special Pages 
# 
Redirect 301 /resume/johnrharris.html http://www.virtualtravelog.net/john-r-harris/
Redirect 301 /resume/JohnRHarris.html http://www.virtualtravelog.net/john-r-harris/
Redirect 301 /about.html http://www.virtualtravelog.net/about/
Redirect 301 /archives.html http://www.virtualtravelog.net/archives/
Redirect 301 /bookmarks.html http://www.virtualtravelog.net/bookmarks/
Redirect 301 /sources.html http://www.virtualtravelog.net/
Redirect 301 /recommended_reading.html http://www.virtualtravelog.net/
Redirect 301 /projects/ComputerHistory/index.html http://www.virtualtravelog.net/category/computer-history/
Redirect 301 /entries/2003-08-TheFirstDraft.pdf http://www.virtualtravelog.net/wp/wp-content/media/2003-08-TheFirstDraft.pdf
Redirect 301 /atom.xml http://www.virtualtravelog.net/feed/atom/
#
# Redirect Categories
#
Redirect 301 /entries/complexity/index.html http://www.virtualtravelog.net/category/complexity/
Redirect 301 /entries/cat_complexity.html http://www.virtualtravelog.net/category/complexity/
#
Redirect 301 /entries/computer_history/index.html http://www.virtualtravelog.net/category/computer-history/
Redirect 301 /entries/cat_computer_history.html http://www.virtualtravelog.net/category/computer-history/
Redirect 301 /projects/ComputerHistory/ http://www.virtualtravelog.net/category/computer-history/
#
Redirect 301 /entries/globalization/index.html http://www.virtualtravelog.net/category/globalization/
Redirect 301 /entries/cat_globalization.html http://www.virtualtravelog.net/category/globalization/
#
Redirect 301 /entries/reviews/index.html http://www.virtualtravelog.net/category/reviews/
Redirect 301 /entries/cat_reviews.html http://www.virtualtravelog.net/category/reviews/
#
Redirect 301 /entries/system_design/index.html http://www.virtualtravelog.net/category/system-design/
Redirect 301 /entries/cat_system_design.html http://www.virtualtravelog.net/category/system-design/
#
Redirect 301 /entries/technology/index.html http://www.virtualtravelog.net/category/technology/
Redirect 301 /entries/cat_technology.html http://www.virtualtravelog.net/category/technology/
#
# Redirect Entries
#
Redirect 301 /entries/2009/09/book_reviews_an.html http://www.virtualtravelog.net/
#
Redirect 301 /entries/2007/09/the_immortal_ga.html http://www.virtualtravelog.net/2007/09/the-imortal-game/
#
Redirect 301 /entries/2006/04/delicious_tagro.html http://www.virtualtravelog.net/bookmarks/
#
Redirect 301 /entries/000065.html http://www.virtualtravelog.net/2004/08/movabletype-2-661-entity-relationship-diagram/
Redirect 301 /entries/2004/08/movabletype_2661_entity_relationship_diagram.html http://www.virtualtravelog.net/2004/08/movabletype-2-661-entity-relationship-diagram/
#
Redirect 301 /entries/000064.html http://www.virtualtravelog.net/2004/08/online-banking-with-quicken-for-mac-why-i-dont-give-a-damn-about-free-checking/
Redirect 301 /entries/2004/08/online_banking_with_quicken_for_mac_why_i_dont_give_a_damn_about_free_checking.html http://www.virtualtravelog.net/2004/08/online-banking-with-quicken-for-mac-why-i-dont-give-a-damn-about-free-checking/
#
Redirect 301 /entries/000063.html http://www.virtualtravelog.net/2004/07/wikipedia-article-for-the-term-computer/
Redirect 301 /entries/2004/07/wikipedia_article_for_the_term_computer.html http://www.virtualtravelog.net/2004/07/wikipedia-article-for-the-term-computer/
#
Redirect 301 /entries/000062.html http://www.virtualtravelog.net/2004/05/unprecedented-phenomena-the-implications-of-the-oklo-fossil-reactors/
Redirect 301 /entries/2004/05/unprecedented_phenomena_the_implications_of_the_oklo_fossil_reactors.html http://www.virtualtravelog.net/2004/05/unprecedented-phenomena-the-implications-of-the-oklo-fossil-reactors/
#
Redirect 301 /entries/000061.html http://www.virtualtravelog.net/2004/03/charles-babbage-and-howard-aiken-how-the-analytical-engine-influenced-the-ibm-automatic-sequence-controlled-calculator-aka-the-harvard-mk-i/
Redirect 301 /entries/2004/03/charles_babbage_and_howard_aiken_how_the_analytical_engine_influenced_the_ibm_automatic_sequence_controlled_calculator_aka_the_harvard_mk_i.html http://www.virtualtravelog.net/2004/03/charles-babbage-and-howard-aiken-how-the-analytical-engine-influenced-the-ibm-automatic-sequence-controlled-calculator-aka-the-harvard-mk-i/
#
Redirect 301 /entries/000060.html http://www.virtualtravelog.net/2004/03/ontology-review-2-the-international-system-of-units-si-us-resistance-to-adoption-of-the-metric-system/
Redirect 301 /entries/2004/03/ontology_review_2_the_international_system_of_units_si_us_resistance_to_adoption_of_the_metric_system.html http://www.virtualtravelog.net/2004/03/ontology-review-2-the-international-system-of-units-si-us-resistance-to-adoption-of-the-metric-system/
#
Redirect 301 /entries/000059.html http://www.virtualtravelog.net/2004/02/vannevar-bush-and-the-limits-of-prescience/
Redirect 301 /entries/2004/02/vannevar_bush_and_the_limits_of_prescience.html http://www.virtualtravelog.net/2004/02/vannevar-bush-and-the-limits-of-prescience/
#
Redirect 301 /entries/000058.html http://www.virtualtravelog.net/2004/01/ontology-review-1-the-nhs-common-basic-specification-why-top-level-ontologies-dont-work/
Redirect 301 /entries/2004/01/ontology_review_1_the_nhs_common_basic_specification_why_top_level_ontologies_dont_work.html http://www.virtualtravelog.net/2004/01/ontology-review-1-the-nhs-common-basic-specification-why-top-level-ontologies-dont-work/
#
Redirect 301 /entries/000057.html http://www.virtualtravelog.net/2004/01/judging-the-likely-success-of-an-ontology/
Redirect 301 /entries/2004/01/judging_the_likely_success_of_an_ontology.html http://www.virtualtravelog.net/2004/01/judging-the-likely-success-of-an-ontology/
#
Redirect 301 /entries/000056.html http://www.virtualtravelog.net/2003/12/source-code-as-history/
Redirect 301 /entries/2003/12/source_code_as_history.html http://www.virtualtravelog.net/2003/12/source-code-as-history/
#
Redirect 301 /entries/000054.html http://www.virtualtravelog.net/2003/12/visualizing-the-shrinking-world/
Redirect 301 /entries/2003/12/visualizing_the_shrinking_world.html http://www.virtualtravelog.net/2003/12/visualizing-the-shrinking-world/
#
Redirect 301 /entries/000051.html http://www.virtualtravelog.net/2003/11/linksys-befw11s4-wireless-b-broadband-router-problems-low-reliability-and-poor-fault-tolerance/
Redirect 301 /entries/2003/11/linksys_befw11s4_wirelessb_broadband_router_problems_low_reliability_and_poor_fault_tolerance.html http://www.virtualtravelog.net/2003/11/linksys-befw11s4-wireless-b-broadband-router-problems-low-reliability-and-poor-fault-tolerance/
#
Redirect 301 /entries/000050.html http://www.virtualtravelog.net/2003/11/the-evolution-of-the-modern-computer-1934-to-1950-an-open-source-graphical-history/
Redirect 301 /entries/2003/11/the_evolution_of_the_modern_computer_1934_to_1950_an_open_source_graphical_history.html http://www.virtualtravelog.net/2003/11/the-evolution-of-the-modern-computer-1934-to-1950-an-open-source-graphical-history/
#
Redirect 301 /entries/000049.html http://www.virtualtravelog.net/2003/10/the-evolution-of-cooperation-social-software-and-the-shadow-of-the-future/
Redirect 301 /entries/2003/10/the_evolution_of_cooperation_social_software_and_the_shadow_of_the_future.html http://www.virtualtravelog.net/2003/10/the-evolution-of-cooperation-social-software-and-the-shadow-of-the-future/
#
Redirect 301 /entries/000048.html http://www.virtualtravelog.net/2003/10/the-biomorph-personal-desk/
Redirect 301 /entries/2003/10/the_biomorph_personal_desk.html http://www.virtualtravelog.net/2003/10/the-biomorph-personal-desk/
#
Redirect 301 /entries/000047.html http://www.virtualtravelog.net/2003/10/the-moore-school-lectures-and-the-british-lead-in-stored-program-computer-development-1946-1953/
Redirect 301 /entries/2003/10/the_moore_school_lectures_and_the_british_lead_in_stored_program_computer_development_1946_1953.html http://www.virtualtravelog.net/2003/10/the-moore-school-lectures-and-the-british-lead-in-stored-program-computer-development-1946-1953/
#
Redirect 301 /entries/000046.html http://www.virtualtravelog.net/2003/09/cyril-harris-18989-1918-rifleman-r9237-9th-battalion-kings-royal-rifle-corps/
Redirect 301 /entries/2003/09/cyril_harris_189891918_rifleman_r9237_9th_battalion_kings_royal_rifle_corps.html http://www.virtualtravelog.net/2003/09/cyril-harris-18989-1918-rifleman-r9237-9th-battalion-kings-royal-rifle-corps/
#
Redirect 301 /entries/000045.html http://www.virtualtravelog.net/2003/09/comparing-the-2001-world-trade-center-attack-with-the-1906-san-francisco-earthquake/
Redirect 301 /entries/2003/09/comparing_the_2001_world_trade_center_attack_with_the_1906_san_francisco_earthquake.html http://www.virtualtravelog.net/2003/09/comparing-the-2001-world-trade-center-attack-with-the-1906-san-francisco-earthquake/
#
Redirect 301 /entries/000044.html http://www.virtualtravelog.net/2003/09/economics-and-the-internets-large-scale-topology/
Redirect 301 /entries/2003/09/economics_and_the_internets_largescale_topology.html http://www.virtualtravelog.net/2003/09/economics-and-the-internets-large-scale-topology/
#
Redirect 301 /entries/000043.html http://www.virtualtravelog.net/2003/09/misinformation-and-the-evolution-of-early-computers/
Redirect 301 /entries/2003/09/misinformation_and_the_evolution_of_early_computers.html http://www.virtualtravelog.net/2003/09/misinformation-and-the-evolution-of-early-computers/
#
Redirect 301 /entries/000042.html http://www.virtualtravelog.net/2003/09/the-first-railway-station-unlikely-home-for-the-first-computer/
Redirect 301 /entries/2003/09/the_first_railway_station_unlikely_home_for_the_first_computer.html http://www.virtualtravelog.net/2003/09/the-first-railway-station-unlikely-home-for-the-first-computer/
#
Redirect 301 /entries/000041.html http://www.virtualtravelog.net/2003/08/the-art-of-turing-completion/
Redirect 301 /entries/2003/08/the_art_of_turing_completion.html http://www.virtualtravelog.net/2003/08/the-art-of-turing-completion/
#
Redirect 301 /entries/000040.html http://www.virtualtravelog.net/2003/08/the-first-modern-computer-the-case-for-baby-the-manchester-mk-i-prototype/
Redirect 301 /entries/2003/08/the_first_modern_computer_the_case_for_baby_the_manchester_mk_i_prototype.html http://www.virtualtravelog.net/2003/08/the-first-modern-computer-the-case-for-baby-the-manchester-mk-i-prototype/
#
Redirect 301 /entries/000039.html http://www.virtualtravelog.net/2003/08/the-meaning-of-invention/
Redirect 301 /entries/2003/08/the_meaning_of_invention.html http://www.virtualtravelog.net/2003/08/the-meaning-of-invention/
#
Redirect 301 /entries/000038.html http://www.virtualtravelog.net/2003/08/is-traffic-congestion-leading-to-the-resurrection-of-trolley-cars-and-trams-in-large-cities/
Redirect 301 /entries/2003/08/is_traffic_congestion_leading_to_the_resurrection_of_trolley_cars_and_trams_in_large_cities_.html http://www.virtualtravelog.net/2003/08/is-traffic-congestion-leading-to-the-resurrection-of-trolley-cars-and-trams-in-large-cities/
#
Redirect 301 /entries/000037.html http://www.virtualtravelog.net/2003/07/un-commission-on-human-rights-loses-all-credibility/
Redirect 301 /entries/2003/07/un_commission_on_human_rights_loses_all_credibility.html http://www.virtualtravelog.net/2003/07/un-commission-on-human-rights-loses-all-credibility/
#
Redirect 301 /entries/000036.html http://www.virtualtravelog.net/2003/07/free-culture-by-lawrence-lessig/
Redirect 301 /entries/2003/07/free_culture_by_lawrence_lessig.html http://www.virtualtravelog.net/2003/07/free-culture-by-lawrence-lessig/
#
Redirect 301 /entries/000035.html http://www.virtualtravelog.net/2003/07/emergence-of-cooperation-in-balinese-rice-farming/
Redirect 301 /entries/2003/07/emergence_of_cooperation_in_balinese_rice_farming.html http://www.virtualtravelog.net/2003/07/emergence-of-cooperation-in-balinese-rice-farming/
#
Redirect 301 /entries/000034.html http://www.virtualtravelog.net/2003/07/using-a-balanced-scorecard-to-align-enterprise-architecture-and-system-architecture-with-corporate-strategy-and-business-strategy/
Redirect 301 /entries/2003/07/using_a_balanced_scorecard_to_align_enterprise_architecture_and_system_architecture_with_corporate_strategy_and_business_strategy.html http://www.virtualtravelog.net/2003/07/using-a-balanced-scorecard-to-align-enterprise-architecture-and-system-architecture-with-corporate-strategy-and-business-strategy/
#
Redirect 301 /entries/000013.html http://www.virtualtravelog.net/2003/06/comparing-national-economies-and-corporations-just-how-bad-was-enron/
Redirect 301 /entries/2003/06/comparing_national_economies_and_corporations_just_how_bad_was_enron_.html http://www.virtualtravelog.net/2003/06/comparing-national-economies-and-corporations-just-how-bad-was-enron/
#
Redirect 301 /entries/000014.html http://www.virtualtravelog.net/2003/06/farce-at-the-united-nations-human-rights-commission/
Redirect 301 /entries/2003/06/farce_at_the_united_nations_human_rights_commission.html http://www.virtualtravelog.net/2003/06/farce-at-the-united-nations-human-rights-commission/
#
Redirect 301 /entries/000015.html http://www.virtualtravelog.net/2003/06/ada-lovelace-the-enchantress-of-number-or-the-most-overrated-figure-in-the-history-of-computing/
Redirect 301 /entries/2003/06/ada_lovelace_the_enchantress_of_number_or_the_most_overrated_figure_in_the_history_of_computing.html http://www.virtualtravelog.net/2003/06/ada-lovelace-the-enchantress-of-number-or-the-most-overrated-figure-in-the-history-of-computing/
#
Redirect 301 /entries/000016.html http://www.virtualtravelog.net/2003/05/the-assassins-a-radical-sect-in-islam-by-bernard-lewis/
Redirect 301 /entries/2003/05/the_assassins_a_radical_sect_in_islam_by_bernard_lewis.html http://www.virtualtravelog.net/2003/05/the-assassins-a-radical-sect-in-islam-by-bernard-lewis/
#
Redirect 301 /entries/000017.html http://www.virtualtravelog.net/2003/05/defining-goals-and-objectives-for-system-development/
Redirect 301 /entries/2003/05/defining_goals_and_objectives_for_system_development.html http://www.virtualtravelog.net/2003/05/defining-goals-and-objectives-for-system-development/
#
Redirect 301 /entries/000018.html http://www.virtualtravelog.net/2003/04/the-emerging-science-of-food-webs/
Redirect 301 /entries/2003/04/the_emerging_science_of_food_webs.html http://www.virtualtravelog.net/2003/04/the-emerging-science-of-food-webs/
#
Redirect 301 /entries/000019.html http://www.virtualtravelog.net/2003/04/the-traveler-guitar-an-example-of-fitness-for-purpose-in-product-design/
Redirect 301 /entries/2003/04/the_traveler_guitar_an_example_of_fitness_for_purpose_in_product_design.html http://www.virtualtravelog.net/2003/04/the-traveler-guitar-an-example-of-fitness-for-purpose-in-product-design/
#
Redirect 301 /entries/000020.html http://www.virtualtravelog.net/2003/04/redrawing-the-pentagons-new-map/
Redirect 301 /entries/2003/04/redrawing_the_pentagons_new_map.html http://www.virtualtravelog.net/2003/04/redrawing-the-pentagons-new-map/
#
Redirect 301 /entries/000021.html http://www.virtualtravelog.net/2003/03/the-eight-fallacies-of-distributed-computing/
Redirect 301 /entries/2003/03/the_eight_fallacies_of_distributed_computing.html http://www.virtualtravelog.net/2003/03/the-eight-fallacies-of-distributed-computing/
#
Redirect 301 /entries/000022.html http://www.virtualtravelog.net/2003/03/the-interaction-of-business-policy-strategy-and-architecture-in-system-design/
Redirect 301 /entries/2003/03/the_interaction_of_business_policy_strategy_and_architecture_in_system_design.html http://www.virtualtravelog.net/2003/03/the-interaction-of-business-policy-strategy-and-architecture-in-system-design/
#
Redirect 301 /entries/000023.html http://www.virtualtravelog.net/2003/03/a-process-for-prioritizing-and-managing-problem-resolution-in-a-complex-environment/
Redirect 301 /entries/2003/03/a_process_for_prioritizing_and_managing_problem_resolution_in_a_complex_environment.html http://www.virtualtravelog.net/2003/03/a-process-for-prioritizing-and-managing-problem-resolution-in-a-complex-environment/
#
Redirect 301 /entries/000024.html http://www.virtualtravelog.net/2003/02/the-mobile-lounges-at-dulles-international-airport/
Redirect 301 /entries/2003/02/the_mobile_lounges_at_dulles_international_airport.html http://www.virtualtravelog.net/2003/02/the-mobile-lounges-at-dulles-international-airport/
#
Redirect 301 /entries/000025.html http://www.virtualtravelog.net/2003/02/convergent-iterative-optimization-of-solutions-why-solving-some-problems-is-easier-said-than-done/
Redirect 301 /entries/2003/02/convergent_iterative_optimization_of_solutions_why_solving_some_problems_is_easier_said_than_done.html http://www.virtualtravelog.net/2003/02/convergent-iterative-optimization-of-solutions-why-solving-some-problems-is-easier-said-than-done/
#
Redirect 301 /entries/000027.html http://www.virtualtravelog.net/2003/01/5-nines-and-other-nonsense-interaction-of-quality-attributes-in-system-design/
Redirect 301 /entries/2003/01/5_nines_and_other_nonsense_interaction_of_quality_attributes_in_system_design.html http://www.virtualtravelog.net/2003/01/5-nines-and-other-nonsense-interaction-of-quality-attributes-in-system-design/
#
Redirect 301 /entries/000028.html http://www.virtualtravelog.net/2003/01/software-design-reviews-lessons-learned-and-best-practices/
Redirect 301 /entries/2003/01/software_design_reviews_lessons_learned_and_best_practices.html http://www.virtualtravelog.net/2003/01/software-design-reviews-lessons-learned-and-best-practices/
#
Redirect 301 /entries/000029.html http://www.virtualtravelog.net/2003/01/internet-cartography-maps-of-the-world-wide-web-and-other-cyber-geography/
Redirect 301 /entries/2003/01/internet_cartography_maps_of_the_world_wide_web_and_other_cyber_geography.html http://www.virtualtravelog.net/2003/01/internet-cartography-maps-of-the-world-wide-web-and-other-cyber-geography/
#
Redirect 301 /entries/000030.html http://www.virtualtravelog.net/2003/01/the-immortal-game-maybe-the-greatest-game-of-chess-ever-played/
Redirect 301 /entries/2003/01/the_immortal_game_maybe_the_greatest_game_of_chess_ever_played.html http://www.virtualtravelog.net/2003/01/the-immortal-game-maybe-the-greatest-game-of-chess-ever-played/
#
Redirect 301 /entries/000031.html http://www.virtualtravelog.net/2002/12/a-solution-for-managing-timezones-times-and-dates-in-international-internet-systems/
Redirect 301 /entries/2002/12/a_solution_for_managing_timezones_times_and_dates_in_international_internet_systems.html http://www.virtualtravelog.net/2002/12/a-solution-for-managing-timezones-times-and-dates-in-international-internet-systems/
#
Redirect 301 /entries/000032.html http://www.virtualtravelog.net/2002/12/the-misapplication-of-occams-razor-or-the-principle-of-inappropriate-parsimony/
Redirect 301 /entries/2002/12/the_misapplication_of_occams_razor_or_the_principle_of_inappropriate_parsimony.html http://www.virtualtravelog.net/2002/12/the-misapplication-of-occams-razor-or-the-principle-of-inappropriate-parsimony/
#
Redirect 301 /entries/000033.html http://www.virtualtravelog.net/2002/12/first-entry/
Redirect 301 /entries/2002/12/first_entry.html  http://www.virtualtravelog.net/2002/12/first-entry/